@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 30, 41, 59; /* text-primary: #1E293B */
  --background-rgb: 248, 250, 252; /* background: #F8FAFC */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}